body {
  margin: 0;
}

.menu {
  text-decoration: none;
  color: #000000;
  font-family: inter;
  font-size: 12px;
  text-align: center;
}

.menu-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  background-color: #f5f5f7cc;
  height: 44px;
  align-items: center;
}

.text {
  background-color: #ffffff;
  width: 1920;
  height: 52px;
  font-family: inter;
  font-size: 14px;
  font-weight: 400px;
  color: #1d1d1f; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.background {
    width: 100%;
    height: 692px; 
    background-image: url(apple/b.png);
    background-position: center;
    
}

@media (max-width: 1000px) {


}

.background-text {
    font-size: 52px;
    color: #F5F5F7;
    font-family: inter;
    text-align: center;
    padding-top: 55px;
    font-weight: 600px;
}

.background-texts {
    font-size: 24px;
    font-family: inter;
    color: #F5F5F7;
    text-align: center;
    padding-top: 16px;
}

.button {
    display: flex;
    justify-content: center; 
    gap: 16px; 
    margin-top: 20px;   
}


.learn {
    font-size: 16px;
    font-family: inter;
    color: #FFFFFF;
    background-color: #0071E3;
    border-radius: 999px;
    border: 0;
    width: 123px;
    height: 44px;
}

.buy {
    background-color: transparent;
    color: #2997FF;
    font-family: inter;
    font-size: 16px;
    height: 44px;
    width: 68px;
    border-radius: 999px;
    border-style: solid;
    border-color: #2997FF;
    border-width: 1px;

}

.background-img {
    width: 100%;
    height: 692px; 
    margin: auto;
    background-image: url(apple/fig.png);
    margin-top: 12px;
    background-position: center;
}

.background-text1 {
    font-size: 52px;
    color: #F5F5F7;
    font-family: inter;
    text-align: center;
    padding-top: 55px;
    font-weight: 600px;
}

.background-texts1 {
    font-size: 24px;
    font-family: inter;
    color: #F5F5F7;
    text-align: center;
    padding-top: 16px;
}

.button1 {
    display: flex;
    justify-content: center; 
    gap: 16px; 
    margin-top: 20px;   
}


.learn1 {
    font-size: 16px;
    font-family: inter;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 999px;
    border: 0;
    width: 123px;
    height: 44px;
}

.buy1 {
    background-color: transparent;
    color: #FFFFFF;
    font-family: inter;
    font-size: 16px;
    height: 44px;
    width: 68px;
    border-radius: 999px;
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 1px;
}

.background-img1 {
    width: 100%;
    height: 692px; 
    margin: auto;
    background-image: url(apple/fig1.png);
    margin-top: 12px;
    background-position: center;
}

.background-text2 {
    font-size: 52px;
    font-family: inter;
    color: #000000;
    text-align: center;
    padding-top: 446px;
    font-weight: 600;
}

.background-texts2 {
    font-size: 24px;
    color: #000000;
    font-family: inter;
    text-align: center;
    padding-top: 12px;
}

.shop1 {     
    display: flex;
    justify-content: center;
    margin-top: 16px; 
}

.shop {
    font-size: 16px;
    font-family: inter;
    color: #FFFFFF;
    background-color: #0071E3;
    border-radius: 999px;
    border: 0;
    height: 44px;
    width: 114px;
}


.background-container {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    margin: 0 12px;
    padding-top: 12px;
    
}


.background-item {
    background-image: url(apple/f.png);
    height: 580px;
    width: calc(50% - 6px);
    background-size: cover;
    background-position: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: inter;
}



.background-item:nth-child(2) {
    background-image: url(apple/s.png)
}

.background-item:nth-child(3) {
    background-image: url(apple/si.jpg)
}

.background-item:nth-child(4) { 
    background-image: url(apple/fo.jpg)
}

.background-item:nth-child(5) { 
    background-image: url(apple/fif.jpg)
}

.background-item:nth-child(6) {
    background-image: url(apple/card.jpg)
}





.ipad {
    padding-top: 58px;
}

.back-text {
    font-size: 18px;
    font-weight: 400;
    font-family: inter;
    padding-top: 9px;
}


.btns {
    display: flex;
    justify-content: center; 
    gap: 16px;
    margin: auto;
    padding-top: 20px;

}

.btn {
    color: #FFFFFF;
    background-color: #0071E3;
    border-radius: 999px;
    border: 0;
    width: 123px;
    height: 44px;
    font-size: 16px;

}

.btn1 {    
    background-color: transparent;
    color: #2997FF;
    font-family: inter;
    font-size: 16px;
    height: 44px;
    width: 68px;
    border-radius: 999px;
    border-style: solid;
    border-color: #2997FF;
    border-width: 1px;
}

.airpod {
    font-size: 36px;
    font-family: inter;
    font-weight: 600;
    text-align: center;
    color: #F5F5F7;
    padding-top: 401px;
}

.airpod2 {
    font-size: 18px;
    font-family: inter;
    font-weight: 400;
    color: #F5F5F7;
    padding-top: 2px;
}

.bton-1 {
    display: flex;
    justify-content: center; 
    gap: 16px;
    margin: auto; 
}

.bton {
    color: #FFFFFF;
    background-color: #0071E3;
    border-radius: 999px;
    border: 0;
    width: 123px;
    height: 44px;
    font-size: 16px;
}

.bton1 {    
    background-color: transparent;
    color: #2997FF;
    font-family: inter;
    font-size: 16px;
    height: 44px;
    width: 68px;
    border-radius: 999px;
    border-style: solid;
    border-color: #2997FF;
    border-width: 1px;
}

.watch {
    height: 32px;
    width: 26.35px;

}

.watch1 {
    font-size: 32px;
    font-weight: 700;
    font-family: inter;
    margin-top: 58px;
}

.watch2 {
    font-size: 15px;
    font-weight: 700;
    font-family: inter;

}


.button-1 {
    display: flex;
    justify-content: center; 
    gap: 16px;
    margin: auto; 
}

.button-f {
    color: #FFFFFF;
    background-color: #0071E3;
    border-radius: 999px;
    border: 0;
    width: 123px;
    height: 44px;
    font-size: 16px;
}

.button-s {    
    background-color: transparent;
    color: #2997FF;
    font-family: inter;
    font-size: 16px;
    height: 44px;
    width: 68px;
    border-radius: 999px;
    border-style: solid;
    border-color: #2997FF;
    border-width: 1px;
}


.macair {
    font-size: 36px;
    font-family: inter;
    font-weight: 600px;
    color: #1D1D1F;
}

.lean {
    font-size: 18px;
    font-family: inter;
    font-weight: 400;
    color: #1D1D1F;

}


.button-air {
    display: flex;
    justify-content: center; 
    gap: 16px;
    margin: auto; 
}

.button-air1 {
    color: #FFFFFF;
    background-color: #0071E3;
    border-radius: 999px;
    border: 0;
    width: 123px;
    height: 44px;
    font-size: 16px;
}

.button-air2 {    
    background-color: transparent;
    color: #2997FF;
    font-family: inter;
    font-size: 16px;
    height: 44px;
    width: 68px;
    border-radius: 999px;
    border-style: solid;
    border-color: #2997FF;
    border-width: 1px;
}

.trade {
    font-size: 32px;
    font-weight: 700;
    font-family: inter;
    color: #000000;
}

.get {
    font-size: 18px;
    font-family: inter;
    font-weight: 400;
}

.estimate {
    color: #FFFFFF;
    background-color: #0071E3;
    border-radius: 999px;
    border: 0;
    width: 167px;
    height: 44px;
    font-size: 16px;
}


.card {
    font-size: 32px;
    font-family: inter;
    font-weight: 700;
    color: #000000;
}

.back {
    font-size: 18px;
    font-weight: 400;
    font-family: inter;
    color: #000000;
}

.apply {
    display: flex;
    justify-content: center; 
    gap: 16px;
    margin: auto; 
}

.apply1 {
    color: #FFFFFF;
    background-color: #0071E3;
    border-radius: 999px;
    border: 0;
    width: 123px;
    height: 44px;
    font-size: 16px;
}

.apply2 {    
    background-color: transparent;
    color: #2997FF;
    font-family: inter;
    font-size: 16px;
    height: 44px;
    width: 112px;
    border-radius: 999px;
    border-style: solid;
    border-color: #2997FF;
    border-width: 1px;
}


@media (max-width: 1000px) {


}

@media (max-width: 600px) {
    .background-container{
        flex-direction: column;
    }
    .background-item {
        width: 100%;
    }
}


.slides-container {
    margin-top: 12px;   
    width: 100%;
    overflow: scroll;
    
}


.slides-1 {
    display: flex;
    width: 4800px;
}

.slides {
    box-sizing: border-box;
    height: 668px;
    width: 1250px;
    text-align: center;
    font-size: 60px;
    background-image: url(apple/slide2.jpg);
}

.slides:nth-child(1) {
    background-image: url(apple/slide.jpg);
}

.slides:nth-child(2) {
    background-image: url(apple/slide1.jpg);
}